#   Please be aware that once the program has been executed, comments will
# be wiped out from the working config

[General]
thermostat_name=MQTT Thermostat

[Temperature]
# DHT temp/humidity sensor
# Pin used for data line
temperature_sensor_pin=-1

# Temperature units (K, C, or F)
temperature_unit=F

# Initial target temperature
# Can be changed at runtime via mqtt
# Unit is the one defined for temperature_unit
temperature_target_default=78.0

### Hysteresis
# The temperature range that the system will try to stay within
# [target_temperature - temperature_range, target_temperature + temperature_range]
# Unit is the one defined for temperature_unit
temperature_range=1.0

[MQTTBrokerConfig]
mqtt_host=localhost
mqtt_port=1883
mqtt_client_id=thermostat_02468ace
mqtt_use_authentication=True
mqtt_username=username
mqtt_password=password
mqtt_use_ssl=False
mqtt_port_ssl=8883

[MQTTTopicConfig]
mqtt_topic_report_heater_state=topic/to/report/heater/state
mqtt_topic_report_temp=topic/to/report/current/temperature
mqtt_topic_report_temp_target=topic/to/report/target/temperature
mqtt_Topic_report_humidity=topic/to/report/humidity
mqtt_topic_set_temp_target=topic/to/subscribe/for/set/target/temperature

[GPIOConfig]
# Use BCM pin numbering
heater_control_output_pin=23
heater_control_output_active=HIGH
