[General]
switch_name=MQTT Thermostat

[Temperature]
# DS18* or DS28* Dallas 1-wire temperature sensor device id
# 6 byte hex string
# This value is unique to each sensor, so you must retrieve it from the sensor you wish to use
temperature_sensor_id='00aa11bb22cc'

# Temperature units (K, C, or F)
temperature_unit=F

# Initial target temperature
# Can be changed at runtime via mqtt
# Unit is the one defined for temperature_unit
temperature_target_default=78.0

# The temperature range that the system will try to stay within
# [target_temperature - temperature_range, target_temperature + temperature_range]
# Unit is the one defined for temperature_unit
temperature_range=1.0

[MQTTBrokerConfig]
mqtt_host=localhost
mqtt_port=1883
mqtt_client_id=generic_switch_02468ace
mqtt_use_authentication=True
mqtt_username=username
mqtt_password=password
mqtt_use_ssl=False
mqtt_port_ssl=8883

[MQTTTopicConfig]
mqtt_topic_report_heater_state=topic/to/report/heater/state
mqtt_topic_report_temp=topic/to/report/current/temperature
mqtt_topic_report_temp_target=topic/to/report/target/temperature
mqtt_topic_set_temp_target=topic/to/subscribe/for/set/target/temperature

[GPIOConfig]
# Use BCM pin numbering
heater_control_output_pin=23
heater_control_output_active=HIGH
